.navbar {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
      font-size: 22px;
      font-weight: 600;
    }
  
    .icons {
      display: flex;
      align-items: center;
      gap: 20px;
  
      .user {
        display: flex;
        align-items: center;
        gap: 10px;
  
        img {
          width: 26px;
          height: 26px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }






// .navbar{
//     height: 50px;
//     border-bottom: 0.5px solid rgb(230, 227, 227);
//     display: flex;
//     align-items: center;
//     font-size: 14px;
//     color: #555;
  
//     .wrapper{
//        width: 100%;
//        padding: 20px;
//        display: flex;
//        align-items: center;
//        justify-content: space-between;
//     // background-color: purple ;
        
//        .search{
//         display: flex;
//         align-items: center;
//         border: 0.5px solid lightgray;
//         padding: 3px;

//         input{
//             border: none;
//             outline: none;
//             background-color: transparent;

//             &::placeholder{
//                 font-size: 12px;
//             }
//         }
//        }

//        .items{
//         display: flex;
//         align-items: center;

//          .item{
//             display: flex;
//             align-items: center;
//             margin-right: 20px;
//             position: relative;

//             .icon{
//                 font-size: 20px;
//             }
//             .avatar{
//                 width: 30px;
//                 height: 30px;
//                 border-radius: 50%;
//             }
//          }
//        }
//     }
    
// }