
.form-el{
    margin-bottom: 16px;

}

.form-label{
    font-size: 14px;
    line-height: 1.4;
    font-weight: 700px;
    color: #000;
    margin-bottom: 4px;
}

.form-input{
    width: 100%;
    display: block;
    border-radius: 8px;
    background-color: #e5e0e0;
    font-size: 14px;
    line-height: 1.4;
    padding: 6px 12px;
    border: 1px solid #e5e0e0;
    color: #000
}

input{
    color: rgb(113, 73, 73) !important;
}


/* Change styles for signup button on extra small screens */
@media screen and (max-width: 300px) {
    .signupbtn{
        width: 100%;
    }
}