.sidebar{
    flex: 1;
    height: calc(115vh - 18px);
    background-color: purple;
    position: sticky;
    top: 50px;
}

.sidebarWrapper{
    padding: 20px;
    color: #dbe1e1;
}

.sidebarMenu{
    margin-bottom: 20px;
}
.sidebarTitle{
    font-size: 15px;
}
.sidebarList{
    list-style: none;
    padding: 5px;
}
.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: rgb(140 26 140);
}
.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}